apiVersion: apps/v1
kind: Deployment
metadata:
  name: mariadb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mariadb
  template:
    metadata:
      labels:
        app: mariadb
    spec:
      containers:
        - name: mariadb
          image: mariadb:10.6
          ports:
            - containerPort: 3306
          env:
            - name: MYSQL_DATABASE
              valueFrom:
                secretKeyRef:
                  name: monpass
                  key: dbname

            - name: MYSQL_USER
              valueFrom:
                secretKeyRef:
                  name: monpass
                  key: user

            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: monpass
                  key: pass

            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: monpass
                  key: rootpass
